/* Smartphone */

@media screen and (max-width: 576px)
{

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    font-family: 'Raleway';
}

.form_text{
    width: 70%;
}

ul{
    margin: 3rem 0;
}

ul a{
    font-size: 1.5rem;
}

.up{
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
}

.down{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    border-bottom: 3px solid  #DCDCDC;
}

.down li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.down li:hover {
    border-bottom: 3px solid #0065FC;
    color: #0065FC;
}

.header_intro{
    margin-bottom: 3rem;
}

.header_intro h2{
    margin-bottom: 3%;
}

.form_submit{
    background-color: #0065FC;
    width: 8%;
    border-radius: 0 1.5rem 1.5rem 0;
    border: #0065FC;
    font-size: 15px;
    font-weight: 700;
    color: white;
}

.container_filtres{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.filtres_title{
    width: 100%;
}

.filtres_button{
    margin: 1rem 1rem;
}

.info{
    width: 95%;
}

.info p{
    font-size: 1.5rem;
}

.info_icon{
    font-size: 1.47rem;
    text-align: center;
    color: #0065FC;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid  #DCDCDC;
    padding: 4px;
    margin-right: 1rem;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container_heber{
    order: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: 0;
}

.card_heber{
    width: 95%;
}

.container_pop{
    order: 1;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0;
}


.card_heber-footer{
    margin-bottom: 8%;
}

.title_act{
    padding-bottom: 8%;
}

.container_act{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4rem;
}

.double{
    display: flex;
    flex-direction: column;
    width: 95%;
}

.card_act{
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 200px;
    margin: 1rem 0 1rem;
    
}

.card_act-double{
    margin: 1.5rem 0 1.5rem;
}

.card_act img,
.card_act-double img,
.card_heber img,
.card_pop img{
    object-fit: cover;
}

footer{
    background-color:  #F2F2F2;
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
    padding: 3.7%;
}

.paragraph{
    margin: 4rem 0 2rem;
}

.paragraph h3{
    margin-bottom: 2rem;
}

}



/* Tablet */


@media screen and (min-width: 576px) and (max-width: 1200px)
{
    
.form_text{
    width: 70%;
}

.form_submit{
    width: 30%;
}

.container_filtres{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: auto;
}

.filtres_button{
    margin: 1rem 1rem;
    
}

.info{
    display: flex;
    align-items: center;
    width: auto;
}

.info_icon{
    font-size: 1.47rem;
    text-align: center;
    color: #0065FC;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 1px solid  #DCDCDC;
    padding: 4px;
    margin-right: 1rem;
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container_heber{
    order: 2;
    display: flex;
    width: 100%;
    background-color: white;
    border-radius: 0;
}

.card_heber{
    width: 31%;
}

.card_pop{
    width: 44%;
    margin: 0 1.5rem 2rem 1.5rem;
}

.container_pop{
    order: 1;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 0;
}

.card_pop-title{
    margin: 3rem 0 0.5rem 0;
}

.card_heber-footer{
    margin-bottom: 3rem;
}

.title_act{
    padding: 2% 0 1% 0;
}


.card_act{
    display: flex;
    flex-direction: column;
    width: 48%;
    justify-content: space-between;
}

.double{
    display: flex;
    flex-direction: column;
    width: 48%;
}

.card_act-double2,
.card_act-double1,
.card_act{
    margin-bottom: 2%;
}


footer{
    background-color:  #F2F2F2;
    display: flex;
    padding-bottom: 4rem;
}

.paragraph{
    margin-top: 2rem;
    width: 30%;
}

.paragraph h3{
    margin-bottom: 2rem;
}

}